body {
    font-family: 'Lato', sans-serif;
    margin: 0;
    font-size: 20px;
    
}
header {
    position: fixed;
    display: flex;  
    align-items: center;
    background-color: white;
    width: 100%;
    z-index: 9999;
     a {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 10%;
        background-color: blue;
        height: 35px;
        width: 80px;
        color: white;
        margin-left: 45%;}
     p {
        margin-left: 20%;
    }   
}

.emailalign {
    display: flex;
    justify-content: center;
}
.email{
    position: absolute;
    margin-top: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 999;
    p {
        text-align: center;
    }
    .tablebutton {
        margin-left: 5px;
        z-index: 999;
        width: 80px; 
        height: 35px;
        background-color: blue;
        display: flex;
        border-radius: 5px;
        align-items: center;
        justify-content: center; 
        color: white;
        &:hover {
            cursor: pointer;
        }
    }
    }
    .tekstas {
        color: white;
        font-weight: bold;
        flex-wrap: wrap;
        font-size: 30px;
        letter-spacing: 1px;
        z-index: 999;}
    
    .table {
        background-color: white;
        display: flex; 
        width: 300px;
        align-items: center;
        border-radius: 5px;
        padding-left: 5px;
        color: grey;
        z-index: 999;
}
.emailrow {
    z-index: 999;
    display: flex;
    flex-direction: row;
}
img {
    position: relative;
    width: 100%;
    height: 500px;
    margin-top: 55px;}

.vectorblock {
    margin-top: 50px;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    z-index: 999;
}
.vector1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.vector2 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.vector3 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
span {
    color: grey;
}
.firstfoto {
    display: flex;
    justify-content: center;
    img {
        width: 50%;
        height: 400px;
}
.firsttext {
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 100px;
}
}
.secondfoto {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    margin-top: 0px;
    img {
        width: 50%;
        height: 380px;
        margin-top: 0px;
}
.secondtext {
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 100px;
}
}
.fotoblock {
    display: flex;
    flex-direction: column;
}
.thirdfoto {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 0px;
    img {
        width: 50%;
        height: 380px;
        margin-top: 0px;
}
.thirdtext {
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 100px;
}
}
.peopleblock {
    margin-top: 0px;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    z-index: 999;
    img {
        height: 200px;
        width: 200px;
        margin-top: 0px;
        border-radius: 50%;
    }
}
.girl {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.guy {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.girl2 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.peoplemaintext {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;

}
.footeremailalign {
    position: relative;
    display: flex;
    justify-content: center;
    z-index: 9999;
    img {
        position: absolute;
        width: 100%;
        height: 300px;}
}
.footeremail{
   
    margin-top: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 999;
    .footertekstas {
        justify-content: center;
        align-items: center;
    }
    p {
        text-align: center;
    }
    .footertablebutton {
        margin-left: 5px;
        z-index: 999;
        width: 80px; 
        height: 35px;
        background-color: blue;
        display: flex;
        border-radius: 5px;
        align-items: center;
        justify-content: center; 
        color: white;
        &:hover {
            cursor: pointer;
        }
    }
    }
    .footertekstas {
        display: flex;
        color: white;
        font-weight: bold;
        font-size: 25px;
        letter-spacing: 1px;
        z-index: 999;}
    .footertable {
        background-color: white;
        display: flex; 
        width: 300px;
        align-items: center;
        border-radius: 5px;
        padding-left: 5px;
        color: grey;
        z-index: 999;
}
.footeremailrow {
    z-index: 999;
    display: flex;
    flex-direction: row;
}
nav{
    display: flex;
    margin-top: 160px;}
ul { 
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
}
li {
    margin-left: 15px;
    list-style-type: none;
}
a:visited {
    text-decoration: none;
  }
  a:link {
    text-decoration: none;
  }
  .navimg {
      a {
          display: flex;
          flex-direction: row;
          justify-content: space-evenly;
      }

    img {
        width: 50px;
        height: 50px;
        color: blue;
        
    }
}
.navblock2 {

    display: flex;
    img {
        width: 25px;
        height: 25px;
} 
}
.imgsmall {
    position: absolute;
    margin-left: 75%;
}
.yourwebsite {
    position: absolute;
    margin-left: 4%;
}
@media (max-width: 600px) {

    main {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .navimg {
        a {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
        }
  
      img {
          width: 50px;
          height: 50px;
          color: blue;
          
      }
  }
  

.navblock2 {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
     ul {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
      }
      p  {
          margin-left: 40px;
      }
      .imgsmall {
          display: none;
      }
    a {
    display: flex;
    justify-content: center;
  }
}
    .vectorblock {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    header {
        display: flex;
        flex-direction: row;
    }
    .emailalign {
        display: flex;
        flex-direction: column;
    }
    .tekstas {
        margin-top: 95%;
    }
    .emailrow {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .firstfoto {
        display: flex;
        flex-direction: column;
        align-items: center;
        img {
            display: flex;
            width: 100%;
        }
    }
    .firsttext {
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        margin-right: 20%;
        p {
            display: flex;
            word-break: break-all;
            justify-content: center;
        }
    
    }
    .secondfoto {
        display: flex;
        flex-direction: column;
        align-items: center;
        img {
            display: flex;
            width: 100%;
        }
    }
    .secondtext {
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        margin-right: 20%;
        p {
            display: flex;
            word-break: break-all;
            justify-content: center;
        }
    }

.thirdfoto {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-grow: initial;
        img {
            display: flex;
            width: 100%;
        }
    }
    .thirdtext {
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        margin-right: 20%;
        p {
            display: flex;
            word-break: break-all;
            justify-content: center;
        }
    }
    .peopleblock {
        display: flex;
        flex-direction: column;
    }
    .footeremailalign {
        display: flex;
        flex-direction: column;
    }
    .footeremailrow {
        display: flex;
        flex-direction: column;
        align-items: center;
        }
        .emailalign {
            display: flex;
            flex-direction: column;
        }
        .emailrow {
            display: flex;
            flex-direction: column;
            align-items: center;
            }
.button {
    margin-left: 35%;
}
.yourwebsite {
    margin-left: 15%;
}   
}
@media (max-width: 360px) {
    .navblock2 {
       display: flex;
       justify-content: center;
       align-items: center;
       margin-right: 10%;}
.yourwebsite {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 2%;
    word-wrap: normal;
}
header {
    p {
        margin-left: 10%;
    }
    a {
        margin-left: 45%;
    }
}

    }




